# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# firebase
.firebase/
*.log
firebase-debug.log
firebase-debug.*.log
ui-debug.log

# Service account keys
*serviceAccount*.json
*service-account*.json

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Optional
# .firebaserc     # Uncomment if you want to ignore Firebase project config
# firebase.json   # Uncomment if you want to ignore Firebase config

# Cache
.cache/
.eslintcache

# Editor specific
.prettierignore
.eslintignore
*.sublime-project
*.sublime-workspace
